{% extends "base.html" %}

{% block title %}Admin page{% endblock %}

{% block content %}
        <table>
            {% for photo in photos%}
            <tr>
                <td>
                    {{ photo.caption }} 
                </td>
                <td>
                    <img src="/{{ photo.photo }}" alt="{{ photo.caption }}" width="30%">
                </td>
                <td>
                    <a href="delphoto/{{ photo.id }}">delete photo</a>
                    <a href="" onclick="">ajax delete photo</a>
                </td>
            </tr>
            {% endfor %}
        </table>        
        <a href="addphoto">add photo</a>
{% endblock %}
