<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
    </head>
    <body>
        <table>
            {% for photo in photos%}
            <tr>
                <td>
                    {{ photo.caption }} 
                </td>
                <td>
                    <img src="/{{ photo.photo }}" alt="{{ photo.caption }}">
                </td>
                <td>
                    <a href="delphoto/{{ photo.id }}">delete photo</a>
                </td>
            </tr>
            {% endfor %}
        </table>        
        <a href="addphoto">add photo</a>
    </body>
</html>
